# React / Node 前端依赖，不上传
node_modules/
web_app/frontend/node_modules/
week4/frontend/node_modules/

dist/
web_app/frontend/dist/
week4/frontend/dist/


# Flask / Python 缓存
__pycache__/
*.pyc
*.pyo


# Mac 系统文件

.DS_Store

# Python 缓存文件

**pycache**/
*.pyc
*.pyo

# R 缓存文件
.Rhistory
# Jupyter 缓存

.ipynb_checkpoints/

# 本地真实配置文件，不上传

config/config.py

# 调试网页文件

*_debug.html

# 虚拟环境

.venv/
venv/
env/

# 编辑器配置

.vscode/
.idea/

#其他
结构.txt
app_douban_streamlit.py
notebook/
week4/
